body{
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    min-height: 100%;
}

.register {
    width: 400px;
    border: 1px solid #dddddd;
    margin: 200px auto;
    padding: 30px;
}
.list-group-item span{
    font-weight: bold;
    color: red;
}