<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="{{ get_config('URL_PREFIX') }}static/bootstrap/js/bootstrap.js"></script>
    <script src="{{ get_config('URL_PREFIX') }}static/bootbox.min.js"></script>
    <link rel="stylesheet" href="{{ get_config('URL_PREFIX') }}static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ get_config('URL_PREFIX') }}static/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ get_config('URL_PREFIX') }}static/style.css?2">
</head>
<body>
    <div class="container">
        {% include 'navi.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    品种：AGT+D
                                </li>
                                <li class="list-group-item">
                                    当前价格：<span id="price_AGT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最高价：<span id="high_AGT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最低价：<span id="low_AGT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    成交量：<span id="volume_AGT_D"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    品种：AUT+D
                                </li>
                                <li class="list-group-item">
                                    当前价格：<span id="price_AUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最高价：<span id="high_AUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最低价：<span id="low_AUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    成交量：<span id="volume_AUT_D"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    品种：MAUT+D
                                </li>
                                <li class="list-group-item">
                                    当前价格：<span id="price_MAUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最高价：<span id="high_MAUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    最低价：<span id="low_MAUT_D"></span>
                                </li>
                                <li class="list-group-item">
                                    成交量：<span id="volume_MAUT_D"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    品种：LLG
                                </li>
                                <li class="list-group-item">
                                    当前价格：<span id="price_LLG"></span>
                                </li>
                                <li class="list-group-item">
                                    最高价：<span id="high_LLG"></span>
                                </li>
                                <li class="list-group-item">
                                    最低价：<span id="low_LLG"></span>
                                </li>
                                <li class="list-group-item">
                                    成交量：<span id="volume_LLG"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul id="kx" style="max-height:500px; overflow-y: auto;"></ul>
                </div>
            </div>
        </div>
        <hr>
        <form class="form-horizontal" action="{{ get_config('URL_PREFIX') }}order" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">品种</label>
                <div class="col-sm-10">
                    <select name="symbolName" class="form-control">
                        <option value="AGT+D">AGT+D</option>
                        <option value="AUT+D">AUT+D</option>
                        <option value="MAUT+D">MAUT+D</option>
                        <option value="LLG">LLG</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">挂单价格</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="price" data-reg="^\d+(\.\d+)?$" data-error="挂单价格格式不正确">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">交易方向</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="radio" name="bsFlag" value="1" checked> 做多
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="bsFlag" value="2"> 做空
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="radio" name="ocFlag" value="o" checked> 建仓
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="ocFlag" value="c"> 平仓
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">挂单数量</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="quantity" data-reg="^\d+(\.\d+)?$" data-error="挂单数量格式不正确">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default">挂单</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{{ get_config('URL_PREFIX') }}static/socket.io.js"></script>
    <script src="{{ get_config('URL_PREFIX') }}static/highstock.js"></script>
    <script src="{{ get_config('URL_PREFIX') }}static/highcharts-zh_CN.js"></script>
    <script>
        $("button").click(function(){
            var pass = true;
            $("input").each(function(index, el){
                var reg = $(el).data("reg");
                if(reg && !new RegExp(reg).test($(el).val())) {
                    bootbox.alert($(el).data("error"));
                    pass = false;
                    return false;
                }
            });

            if(pass) {
                $.ajax({
                    url: "{{ get_config('URL_PREFIX') }}placeOrder",
                    type: "post",
                    data: {
                        symbolName: $.trim($("select[name='symbolName']").val()),
                        price: $.trim($("input[name='price']").val()),
                        bsFlag: $("input[name='bsFlag']:checked").val(),
                        ocFlag: $("input[name='ocFlag']:checked").val(),
                        quantity: $.trim($("input[name='quantity']").val()),
                        wxid: "{{ session['user_id'] }}"
                    },
                    success: function(data) {
                        if(data && data.success == 1) {
                            location.href = "{{ get_config('URL_PREFIX') }}lists";
                        }
                        else {
                            bootbox.alert("挂单失败");
                        }
                    }
                })
            }
        });
    </script>
    <script>
        let ws = new WebSocket("wss://weixin.jujin8.com/tdsocket/receive"),
            subscribe_codes = ["AGT+D", "AUT+D", "MAUT+D", "LLG"];

        let onmessage = function(evt) {
            let dt = JSON.parse(evt.data);

            if(dt.type == 'kx' && dt.data['dtype'] == 'insert') {
                $("#kx").append(`<li><p>${dt.data.publish_time}</p><p>${dt.data.body}</p></li>`);
            }
            else {
                if(subscribe_codes.indexOf(dt.data['code']) >= 0) {
                    $("#price_" + dt.data.code.replace("+", "_")).text(dt.data.last);
                    $("#low_" + dt.data.code.replace("+", "_")).text(dt.data.sell);
                    $("#high_" + dt.data.code.replace("+", "_")).text(dt.data.buy);
                    $("#volume_" + dt.data.code.replace("+", "_")).text(dt.data.volume);
                }
            }
        };

        let onclose = function() {
            console.log("close...");
            reconnect();
        }

        ws.onmessage = onmessage;
        ws.onclose = onclose;

        let disConnct = function() {
            setTimeout(reconnect, 1000);
        }

        let reconnect = function() {
            ws = new WebSocket("wss://weixin.jujin8.com/tdsocket/receive");
            ws.onmessage = onmessage;
            ws.onclose = onclose;
        }
    </script>
</body>
</html>